* text=auto

*.cs text eol=crlf
*.csproj text eol=crlf
*.sln text eol=crlf
*.config text eol=crlf
*.resx text eol=crlf
*.settings text eol=crlf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.dll binary
*.exe binary
*.ico binary
*.png binary
*.gb binary
*.gbc binary
*.sav binary
