<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nanoboy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <nanoboy.Properties.Settings>
            <setting name="Channel1Enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Channel2Enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Channel3Enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Channel4Enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AudioEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VideoScaleFactor" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Frameskip" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeyA" serializeAs="String">
                <value>Y</value>
            </setting>
            <setting name="KeyB" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="KeyStart" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="KeySelect" serializeAs="String">
                <value>V</value>
            </setting>
            <setting name="KeyUp" serializeAs="String">
                <value>Up</value>
            </setting>
            <setting name="KeyDown" serializeAs="String">
                <value>Down</value>
            </setting>
            <setting name="KeyLeft" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="KeyRight" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="SampleRate" serializeAs="String">
                <value>3</value>
            </setting>
        </nanoboy.Properties.Settings>
    </userSettings>
</configuration>
